# Mac
.DS_Store

# Application data files
files/maven/.m2/repository/
files/maven/.m2/wrapper/

# Ansible
*.retry

# node
node_modules

# npm (use yarn instead)
package-lock.json

# yarn
yarn-error.log
