- name: Common packages
  pacman:
    name:
      - nodejs-lts-fermium
      - nodejs-lts-gallium
    state: absent
  become: false

- name: Common packages
  pacman:
    name:
      # Browsers
      - chromium
      - firefox-developer-edition
      # General
      - easyeffects
      - input-leap
      - keepassxc
      - p7zip
      - unp
      - mpv
      - syncthing
      # Packages
      - nix
      - yay
      # Dev
      - corepack
      - kitty
      - starship
      - git
      - gitg
      - docker
      - docker-compose
      - nodejs-lts-krypton
      - jdk11-openjdk
    state: present
  become: true

- name: Enable and/or start docker
  service:
    name: docker
    enabled: yes
    state: started
  become: true
