add_newline = true

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$git_metrics\
$fill\
$cmd_duration\
$jobs\
$time\
$line_break\
$character\
"""

[git_branch]
symbol = " "

[fill]
symbol = " "

[time]
disabled = false
format = "[$time]($style) "

[character]
success_symbol = "[➜](bold green)"
error_symbol = "[✗](bold red)"

[directory]
truncation_length = 5
truncate_to_repo = false
before_repo_root_style = "cyan"
repo_root_style = "bold cyan"
