[user]
	name = Alex Chaphiv
	email = achaphiv@gmail.com
[push]
	default = simple
	followTags = true
[core]
	editor = nano
	ignorecase = false
	eol = lf
        pager = delta
[pull]
	rebase = true

[include]
    path = ~/.gitconfig.work
